h1, h3 {
  font-family: 'Arimo', sans-serif;
  font-weight: bolder;
}

h1 {
  font-size: 25px;
}

.option {
  display: none;
  border: 1px solid black;
  background-color: #ffedd1;
  padding: 15px;
  margin-top: 15px;
  width: 550px;
}

#emphasize {
  font-weight: bolder;
}
